@use "./core/reset";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Cinzel", serif;
  background-color: #1a1a1d;
  color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #000;
  padding: 1.5rem;
  text-align: center;
  border-bottom: 2px solid #d4af37;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  color: #d4af37;
}

.main_contect {
  flex: 1;
  width: 95%;
  max-width: 90rem;
  margin: 0px auto 1rem auto;
  padding: 4rem 0;
  display: block;
}

.footer {
  background-color: #000;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #ccc;
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
  list-style: none;
}

.character-list li {
  background-color: #2a2a2d;
  border-radius: 10px;
  padding: 1rem;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 0 10px #000;
  transition: transform 0.3s ease;
}

.character-list li:hover {
  transform: scale(1.05);
}
.lisper {
  margin-bottom: 2rem;
}

.filter_form,
form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.filter_input,
select {
  border: none;
  background: white;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.2s;
}
.filter_input:focus,
select:focus {
  box-shadow: 0 0 0 2px;
}
